<%%= form_for @changeset, @action, [class: 'mb20'], fn f -> %>
	<%= for input <- inputs, input, do: input <> "\n\t" %>
	<%%= submit "Submit", class: "btn green lighten-2" %>
	<%%= link "Back", to: user_path(@conn, :index), class: "btn blue-grey lighten-2" %>
<%% end %>
