$primary-color: color("green", "lighten-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("green", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("green", "darken-1");
